<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/jee  
http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-2.0.xsd">

<!--
	<jee:jndi-lookup id="footprintsServiceUrl"
		jndi-name="java:comp/env/footprintsServiceUrl" expected-type="java.lang.String" />
	<jee:jndi-lookup id="footprintsAuthDomain"
		jndi-name="java:comp/env/footprintsAuthDomain" expected-type="java.lang.String" />
	<jee:jndi-lookup id="footprintsAuthUser" jndi-name="java:comp/env/footprintsAuthUser"
		expected-type="java.lang.String" />
	<jee:jndi-lookup id="footprintsAuthCredentials"
		jndi-name="java:comp/env/footprintsAuthCredentials" expected-type="java.lang.String" />
-->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages"/>
		<property name="useCodeAsDefaultMessage" value="true" />		
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass">
			<value>org.springframework.web.servlet.view.JstlView</value>
		</property>
		<property name="prefix">
			<value>/WEB-INF/jsp/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>


	<bean id="defaultExceptionHandler"
		class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error" />
		<property name="exceptionMappings">

			<props>
				<prop key="javax.portlet.PortletSecurityException">
					notAuthorized
				</prop>
				<prop key="javax.portlet.UnavailableException">
					notAvailable
				</prop>
			</props>
		</property>
	</bean>
	

</beans>