<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
                      http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean class="com.railinc.jook.DbPropertyPlaceholderConfigurer" p:configurationService-ref="configurationService"/>

	<bean class="com.railinc.jook.web.interactions.NewsInteractionFactoryImpl" p:newsService-ref="newsService"/>
	
	<bean class="com.railinc.jook.web.interactions.DowntimeInteractionFactoryImpl"
		p:downtimeService-ref="downtimeService" />

	<bean class="com.railinc.jook.web.interactions.StaticInteractionFactoryImpl"
		p:service-ref="jookService" />

	<bean name="sessionValidationInterceptor"
		class="com.railinc.jook.web.SessionValidationInterceptor">
		<property
			name="loginUrl"
			value="${sso.login.url}" />
	</bean>
</beans>